* {
  font-family: fantasy;
}

h1 {
  display: inline-block;

}

.board {
  margin: 0 auto;
  display: table;
  width: 800px;
  height: 700px;
}

.column {
  display: table-cell;
}

.cell {
outline: solid red;
width: 105px;
height: 120px;
}
