* {
  font-family: fantasy;
  color: white;
}

body {
  background-image: url("mongolian_steppes.jpg");
}

h1 {
  display: inline-block;

}

#quote {
  align-self: center;
}

.board {
  margin: 0 auto;
  display: table;
  width: 800px;
  height: 700px;
}

.column {
  display: table-cell;
}

.cell {
outline: solid white;
width: 105px;
height: 120px;
}
