* {
  font-family: fantasy;
  color: white;
}

body {
  background-image: url("mongolian_steppes.jpg");
}

#heading {
  text-align: center;
}

.form-button {
  width: 8em;
}

img {
  border-radius-top-left: 5px;
  border-radius-top-right: 5px;
}

#quote {
  align-self: center;
}

.board {
  margin: 0 auto;
  display: table;
  width: 40%;
}

.column {
  display: table-cell;
}

.cell {
  border: solid white 0.5px;
  border-radius: 5px;
  width: 87px;
  height: 100px;
}
